In [1]:
import numpy as np
import pandas as pd
import math
import time

In [2]:
df=pd.read_csv("Sources/df_Clean_TripAdvisor.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9412 entries, 0 to 9411
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         9412 non-null   int64
 1   Nombre             9412 non-null   object
 2   Score              9412 non-null   float64
 3   Excelente          9412 non-null   int64
 4   MuyBueno           9412 non-null   int64
 5   Normal             9412 non-null   int64
 6   Malo               9412 non-null   int64
 7   Pesimo             9412 non-null   int64
 8   Num_Reviews        9412 non-null   int64
 9   Posicion           9397 non-null   float64
 10  Rango_precio       9412 non-null   object
 11  Tipo_Cocina        9412 non-null   object
 12  Awards             9412 non-null   int64
 13  Score_Comida       5590 non-null   float64
 14  Score_Servicio     5570 non-null   float64
 15  Calidad_Precio     5516 non-null   float64
 16  Ambiente           1838 non-null   float64
 17  Direccion          9412 non-null   object
 18  Web_TripAdvisor    9412 non-null   object
 19  Latina             9412 non-null   int64
 20  Eur Este           9412 non-null   int64
 21  Africana           9412 non-null   int64
 22  China              9412 non-null   int64
 23  Japonesa           9412 non-null   int64
 24  Arabe              9412 non-null   int64
 25  Mexicana           9412 non-null   int64
 26  Caribeña           9412 non-null   int64
 27  Asiatica           9412 non-null   int64
 28  America Norte      9412 non-null   int64
 29  America Sur        9412 non-null   int64
 30  Italiana           9412 non-null   int64
 31  Española           9412 non-null   int64
 32  Eur Occidental     9412 non-null   int64
 33  Asador             9412 non-null   int64
 34  N/A                9412 non-null   int64
 35  India              9412 non-null   int64
 36  Num_Reviews_Spain  9412 non-null   int64
 37  Latitud            6354 non-null   float64
 38  Longitud           6354 non-null   float64
dtypes: float64(8), int64(26), object(5)
memory usage: 2.8+ MB

In [4]:
#Hay que ordenar el df por las valoraciones para que ya se quede filtrado
#para eelo tenemos una funcion

In [5]:
#Hay que ajustar las columnas Score y Num_Reviews
""" Para calcular una métrica que capture la relación entre la puntuación y el 
número de comentarios (reviews) de un restaurante, puedes utilizar el concepto 
de "puntuación ponderada" donde le das más importancia al número de comentarios. 
Una forma simple de hacerlo es multiplicar la puntuación por una función del número 
de comentarios. Aquí tienes una posible fórmula:
Puntuación Ponderada = Puntuación * (1 + Factor * Log(Número de Comentarios + 1))
"""
#Ejemplo de como funcionaria la formula
factor=0.6 # se elige un factor para dar mayor o menor importancia a la puntuacion
Punt_poderada_list=[]
for x,y in zip(df["Score"][0:10], df["Num_Reviews"][0:10]):
    Punt_poderada= round(x *(1 + factor * math.log(y+ 1)),3)
    print(f"Score:{x},Num_Reviews:{y}, Punt_poderada:{Punt_poderada}")
    Punt_poderada_list.append(Punt_poderada)
    # explicar con indice 0 e indice 3 Teoria vs Punt_Ponderada

Score:3.5,Num_Reviews:35, Punt_poderada:11.025
Score:4.5,Num_Reviews:13, Punt_poderada:11.625
Score:4.0,Num_Reviews:191, Punt_poderada:16.618
Score:5.0,Num_Reviews:25, Punt_poderada:14.774
Score:3.5,Num_Reviews:66, Punt_poderada:12.33
Score:2.0,Num_Reviews:1, Punt_poderada:2.832
Score:3.5,Num_Reviews:3, Punt_poderada:6.411
Score:4.5,Num_Reviews:304, Punt_poderada:19.945
Score:3.0,Num_Reviews:141, Punt_poderada:11.92
Score:4.0,Num_Reviews:89, Punt_poderada:14.8

In [6]:
factor=0.6 # se elige un factor para dar mayor o menor importancia a la puntuacion
Punt_poderada_list=[]
for x,y in zip(df["Score"], df["Num_Reviews"]):
    Punt_poderada=round(x *(1 + factor * math.log(y+ 1)),3)   
    Punt_poderada_list.append(Punt_poderada)

In [7]:
#con el resultado de la formula anterior se crea una nueva columna que se llama valoracion
df["Valoracion"]=Punt_poderada_list

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9412 entries, 0 to 9411
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         9412 non-null   int64
 1   Nombre             9412 non-null   object
 2   Score              9412 non-null   float64
 3   Excelente          9412 non-null   int64
 4   MuyBueno           9412 non-null   int64
 5   Normal             9412 non-null   int64
 6   Malo               9412 non-null   int64
 7   Pesimo             9412 non-null   int64
 8   Num_Reviews        9412 non-null   int64
 9   Posicion           9397 non-null   float64
 10  Rango_precio       9412 non-null   object
 11  Tipo_Cocina        9412 non-null   object
 12  Awards             9412 non-null   int64
 13  Score_Comida       5590 non-null   float64
 14  Score_Servicio     5570 non-null   float64
 15  Calidad_Precio     5516 non-null   float64
 16  Ambiente           1838 non-null   float64
 17  Direccion          9412 non-null   object
 18  Web_TripAdvisor    9412 non-null   object
 19  Latina             9412 non-null   int64
 20  Eur Este           9412 non-null   int64
 21  Africana           9412 non-null   int64
 22  China              9412 non-null   int64
 23  Japonesa           9412 non-null   int64
 24  Arabe              9412 non-null   int64
 25  Mexicana           9412 non-null   int64
 26  Caribeña           9412 non-null   int64
 27  Asiatica           9412 non-null   int64
 28  America Norte      9412 non-null   int64
 29  America Sur        9412 non-null   int64
 30  Italiana           9412 non-null   int64
 31  Española           9412 non-null   int64
 32  Eur Occidental     9412 non-null   int64
 33  Asador             9412 non-null   int64
 34  N/A                9412 non-null   int64
 35  India              9412 non-null   int64
 36  Num_Reviews_Spain  9412 non-null   int64
 37  Latitud            6354 non-null   float64
 38  Longitud           6354 non-null   float64
 39  Valoracion         9412 non-null   float64
dtypes: float64(9), int64(26), object(5)
memory usage: 2.9+ MB

### Recomendador por Tipo Cocina

In [11]:
#codigo para saber si el usuario prefiere entrar a escoger el tipo de cocina
while True:
    try:
        recomienda_cocina = int(input("¿Tiene preferencias por algún tipo de cocina? (Si=1 / No=0): "))
        if recomienda_cocina != 0 and recomienda_cocina != 1:
            raise ValueError("Por favor, ingrese 0 o 1.")#evalua si alcanza otro valor diferente
        break  # Salir del bucle si la entrada es válida
    except ValueError:
        print("Entrada no válida. Por favor, ingrese 0 o 1.")

¿Tiene preferencias por algún tipo de cocina? (Si=1 / No=0): 1

In [12]:
# Define las opciones que el usuario puede calificar
if recomienda_cocina:
    opciones = ["Latina", "Asiatica", "Italiana", "Española", 
            "America Norte", "Eur Este","Eur Occidental", "Arabe",
            "Africana", "India"]

# Crea un diccionario para almacenar las calificaciones
    calificaciones = {}    
# Solicita al usuario que califique cada opción 
    print("Por favor, califique qué tipo generico de cocina le gusta(escala 1 a 10),No se puede repetir la calificacion")
    print("Siendo 10: Me encanta y 1:No me apetece")
    for opcion in opciones:
        calificacion = int(input(f"Califique '{opcion}' (1-10): "))
        if calificacion > 0 and calificacion < 11:
            calificaciones[opcion] = calificacion/10
        
        else:
            print("La clasificacion es incorrecta")
            break
            
    print("\nCalificaciones:", calificaciones)

else:
    print("Ya que no tiene preferencias por tipo de cocina le mostramos un lista ordenada por valoracion")
    num_rest= int(input(f"¿Cuántos restaurantes quiere en su lista(1-50)"))
    df_ordenado = df.sort_values(by='Valoracion', ascending=False)
    df_sinpreferencia =df_ordenado[["Nombre", "Score","Valoracion","Tipo_Cocina"]].head(num_rest)#los 25
    print(df_sinpreferencia)

Por favor, califique qué tipo generico de cocina le gusta(escala 1 a 10),No se puede repetir la calificacion
Siendo 10: Me encanta y 1:No me apetece
Califique 'Latina' (1-10): 9
Califique 'Asiatica' (1-10): 9
Califique 'Italiana' (1-10): 4
Califique 'Española' (1-10): 7
Califique 'America Norte' (1-10): 1
Califique 'Eur Este' (1-10): 1
Califique 'Eur Occidental' (1-10): 1
Califique 'Arabe' (1-10): 1
Califique 'Africana' (1-10): 1
Califique 'India' (1-10): 1

Calificaciones: {'Latina': 0.9, 'Asiatica': 0.9, 'Italiana': 0.4, 'Española': 0.7, 'America Norte': 0.1, 'Eur Este': 0.1, 'Eur Occidental': 0.1, 'Arabe': 0.1, 'Africana': 0.1, 'India': 0.1}

In [13]:
#Funcion ordena diccionarios
def ordena_diccionario(diccionario):
    # Ordenar el diccionario de mayor a menor
    diccionario_ordenado = dict(sorted(diccionario.items(), key=lambda item: item[1], reverse=True))
    
    return diccionario_ordenado

In [14]:
 # Mostrar el diccionario ordenado
calificaciones_ordenado=ordena_diccionario(calificaciones)  
calificaciones_ordenado

{'Latina': 0.9,
 'Asiatica': 0.9,
 'Española': 0.7,
 'Italiana': 0.4,
 'America Norte': 0.1,
 'Eur Este': 0.1,
 'Eur Occidental': 0.1,
 'Arabe': 0.1,
 'Africana': 0.1,
 'India': 0.1}

In [15]:
#Funcion para puntuar los tipos de cocina segun deseo del usuario

def puntuacion_cocinas(lista):                  
    # Solicita al usuario que califique cada opción    
    print(f"Por favor, califique las opciones de cocina:{lista} (escala 1 a 10)")
    print("Siendo 10: Me encanta y 1:No me apetece")
    
    calificaciones1={}
    for opcion in lista:
                calificacion = int(input(f"Califique '{opcion}' (1-10): "))
                if calificacion > 0 and calificacion < 11:
                    calificaciones1[opcion] = calificacion/10
                else:
                    print("La clasificacion es incorrecta")
                    break 
    return calificaciones1

In [16]:
# Verifica si la clave deseada está entre las tres primeras posiciones
clave = ["Latina", "Asiatica"]  
primeras_tres_claves = list(calificaciones_ordenado.keys())[:3]
Latinoamerica =["America Sur","Asador", "Caribeña", "Latina", "Mexicana"]
Asiatica = ["Asiatica", "China", "Japonesa"]

for x in clave:
    if x in primeras_tres_claves:        
        if x == "Latina":
            print(f"\n Calificaciones {x}")
            calif_latina=puntuacion_cocinas(Latinoamerica)
            calif_latina_ordenado=ordena_diccionario(calif_latina)
            lista_latin= list(calif_latina_ordenado.keys())[0:2]
            #calif_latina_ordenado            
            #print(calif_latina)            
        elif x== "Asiatica":
            print(f"\n Calificaciones {x}")
            calif_asiatica=puntuacion_cocinas(Asiatica)
            calif_asiatica_ordenado=ordena_diccionario(calif_asiatica)
            lista_asia= list(calif_asiatica_ordenado.keys())[0:2]
            #calif_asiatica_ordenado
            #print(calif_asiatica)        
        
    else:
        lista_pref= list(calificaciones_ordenado.keys())[0:4]
        #print(f'La clave "{x}" no se encuentra entre las tres primeras posiciones.')

 Calificaciones Latina
Por favor, califique las opciones de cocina:['America Sur', 'Asador', 'Caribeña', 'Latina', 'Mexicana'] (escala 1 a 10)
Siendo 10: Me encanta y 1:No me apetece
Califique 'America Sur' (1-10): 6
Califique 'Asador' (1-10): 6
Califique 'Caribeña' (1-10): 9
Califique 'Latina' (1-10): 8
Califique 'Mexicana' (1-10): 6

 Calificaciones Asiatica
Por favor, califique las opciones de cocina:['Asiatica', 'China', 'Japonesa'] (escala 1 a 10)
Siendo 10: Me encanta y 1:No me apetece
Califique 'Asiatica' (1-10): 6
Califique 'China' (1-10): 9
Califique 'Japonesa' (1-10): 7

In [17]:
#Para organizar por orden de peso la lista y sublista de tipos de puntuacion
lista_pref= list(calificaciones_ordenado.keys())[0:4]
lista_pref
tipo_cocina_preferida_list=[]
for x in lista_pref:
    if x != "Latina" and x!="Asiatica":
        tipo_cocina_preferida_list.append(x)
    elif x == "Latina":
        tipo_cocina_preferida_list.extend(lista_latin)
        
    elif x == "Asiatica":
        tipo_cocina_preferida_list.extend(lista_asia)
print(tipo_cocina_preferida_list)

['Caribeña', 'Latina', 'China', 'Japonesa', 'Española', 'Italiana']

In [18]:
resultado=pd.DataFrame()
dicc_df={}
z= int(input(f"¿Cuantas recomendaciones quiere por tipo de cocina?(1-10)"))#numero de recomendaciones por tipo de cocina
for y in tipo_cocina_preferida_list:
    for x in df.columns[19:-4]:#se corresponde con las columnas tipo cocina
        if x == y:
            df_recomendador1 = df[df[x]==1]
            print(f"El tipo de cocina Seleccionada: {y}")
            df_ordenado = df_recomendador1.sort_values(by='Valoracion', ascending=False)
            print(df_ordenado[["Nombre", "Score","Valoracion"]].head(z))
            dicc_df[x]=df_ordenado[["Nombre", "Score","Valoracion"]].head(z)

¿Cuantas recomendaciones quiere por tipo de cocina?(1-10)3
El tipo de cocina Seleccionada: Caribeña
        Nombre  Score  Valoracion
1519    Sakale    5.0      29.314
6425  Gramabar    4.5      24.511
4002     Borax    4.5      20.977
El tipo de cocina Seleccionada: Latina
                              Nombre  Score  Valoracion
3058                    Grama Lounge    5.0      29.937
2691       Mu! El Placer De La Carne    4.5      26.078
7332  Santita Virgen de los Peligros    5.0      25.901
El tipo de cocina Seleccionada: China
                  Nombre  Score  Valoracion
6833  Restaurante Luxury    4.5      21.517
9162      Royal Cantonés    4.0      19.055
7601        Asia Gallery    4.0      19.018
El tipo de cocina Seleccionada: Japonesa
                                      Nombre  Score  Valoracion
1519                                  Sakale    5.0      29.314
2055  Sibuya Urban Sushi Bar Madrid C/Orense    5.0      25.061
2931                          Yakitoro Reina    4.0      24.683
El tipo de cocina Seleccionada: Española
                  Nombre  Score  Valoracion
2273      Taberna el Sur    4.5      28.884
5676        Rosi La Loca    4.5      28.716
2157  Taberna Más Al Sur    4.5      28.052
El tipo de cocina Seleccionada: Italiana
                           Nombre  Score  Valoracion
3338  Oven Mozzarella Gran Vía 55    5.0      28.046
5922   Oven Mozzarella Gran Vía 6    4.5      27.551
6973    Lettera Trattoria moderna    5.0      27.007

In [ ]:
# Funcion

z = tab1.number_input()

def recomendador_final(tipo_cocina_preferida_list, z):

    resultado=pd.DataFrame()
    dicc_df={}
#     z= int(input(f"¿Cuantas recomendaciones quiere por tipo de cocina?(1-10)"))#numero de recomendaciones por tipo de cocina
    for y in tipo_cocina_preferida_list:
        for x in df.columns[19:-4]:#se corresponde con las columnas tipo cocina
            if x == y:
                df_recomendador1 = df[df[x]==1]
                print(f"El tipo de cocina Seleccionada: {y}")
                df_ordenado = df_recomendador1.sort_values(by='Valoracion', ascending=False)
                print(df_ordenado[["Nombre", "Score","Valoracion"]].head(z))
                dicc_df[x]=df_ordenado[["Nombre", "Score","Valoracion"]].head(z)
                
    return dicc_df

In [23]:
list(dicc_df.values())[5]

                           Nombre  Score  Valoracion
3338  Oven Mozzarella Gran Vía 55    5.0      28.046
5922   Oven Mozzarella Gran Vía 6    4.5      27.551
6973    Lettera Trattoria moderna    5.0      27.007

In [ ]:
#################################