In [1]:
import pandas as pd
import numpy as np
from time import sleep
import pickle

In [2]:
df=pd.read_csv("Sources\Trip_Rest_Madrid.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9869 entries, 0 to 9868
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9869 non-null   int64
 1   Nombre           9836 non-null   object
 2   Score            9443 non-null   object
 3   Excelente        9443 non-null   float64
 4   MuyBueno         9443 non-null   float64
 5   Normal           9443 non-null   float64
 6   Malo             9443 non-null   float64
 7   Pesimo           9443 non-null   float64
 8   Num_Reviews      9836 non-null   float64
 9   Posicion         9428 non-null   float64
 10  Rango_precio     8768 non-null   object
 11  Tipo_Cocina      9869 non-null   object
 12  Awards           9869 non-null   object
 13  Score_Comida     5606 non-null   float64
 14  Score_Servicio   5586 non-null   float64
 15  Calidad_Precio   5532 non-null   float64
 16  Ambiente         1841 non-null   float64
 17  Direccion        9836 non-null   object
 18  Web_TripAdvisor  9869 non-null   object
dtypes: float64(11), int64(1), object(7)
memory usage: 1.4+ MB

In [4]:
df_tipo_cocina=pd.read_csv("Sources\Asignacion_X_Tipo_Cocina.csv")#Viene del NB Tipo de Cocina

In [5]:
df_tipo_cocina.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9869 entries, 0 to 9868
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            9869 non-null   int64
 1   Nombre                9836 non-null   object
 2   Tipo_Cocina           9869 non-null   object
 3   tipo_cocina_list      9869 non-null   object
 4   Tipo_Cocina_Agrupado  9869 non-null   object
 5   Latina                9869 non-null   int64
 6   Eur Este              9869 non-null   int64
 7   Africana              9869 non-null   int64
 8   China                 9869 non-null   int64
 9   Japonesa              9869 non-null   int64
 10  Arabe                 9869 non-null   int64
 11  Mexicana              9869 non-null   int64
 12  Caribeña              9869 non-null   int64
 13  Asiatica              9869 non-null   int64
 14  America Norte         9869 non-null   int64
 15  America Sur           9869 non-null   int64
 16  Italiana              9869 non-null   int64
 17  Española              9869 non-null   int64
 18  Eur Occidental        9869 non-null   int64
 19  Asador                9869 non-null   int64
 20  N/A                   9869 non-null   int64
 21  India                 9869 non-null   int64
dtypes: int64(18), object(4)
memory usage: 1.7+ MB

In [6]:
df_Tipo_Cocina = df_tipo_cocina.drop(["Nombre","Tipo_Cocina","tipo_cocina_list","Tipo_Cocina_Agrupado"], axis = 1)

In [7]:
df_=pd.concat([df, df_Tipo_Cocina], axis=1)

In [8]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9869 entries, 0 to 9868
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9869 non-null   int64
 1   Nombre           9836 non-null   object
 2   Score            9443 non-null   object
 3   Excelente        9443 non-null   float64
 4   MuyBueno         9443 non-null   float64
 5   Normal           9443 non-null   float64
 6   Malo             9443 non-null   float64
 7   Pesimo           9443 non-null   float64
 8   Num_Reviews      9836 non-null   float64
 9   Posicion         9428 non-null   float64
 10  Rango_precio     8768 non-null   object
 11  Tipo_Cocina      9869 non-null   object
 12  Awards           9869 non-null   object
 13  Score_Comida     5606 non-null   float64
 14  Score_Servicio   5586 non-null   float64
 15  Calidad_Precio   5532 non-null   float64
 16  Ambiente         1841 non-null   float64
 17  Direccion        9836 non-null   object
 18  Web_TripAdvisor  9869 non-null   object
 19  Unnamed: 0       9869 non-null   int64
 20  Latina           9869 non-null   int64
 21  Eur Este         9869 non-null   int64
 22  Africana         9869 non-null   int64
 23  China            9869 non-null   int64
 24  Japonesa         9869 non-null   int64
 25  Arabe            9869 non-null   int64
 26  Mexicana         9869 non-null   int64
 27  Caribeña         9869 non-null   int64
 28  Asiatica         9869 non-null   int64
 29  America Norte    9869 non-null   int64
 30  America Sur      9869 non-null   int64
 31  Italiana         9869 non-null   int64
 32  Española         9869 non-null   int64
 33  Eur Occidental   9869 non-null   int64
 34  Asador           9869 non-null   int64
 35  N/A              9869 non-null   int64
 36  India            9869 non-null   int64
dtypes: float64(11), int64(19), object(7)
memory usage: 2.8+ MB

### Rango  de Precio

In [9]:
df_["Rango_precio"].unique()

array(['€', '€€ - €€€', 'Española', 'Italiana', nan, 'Mediterránea',
       'Bar', 'Japonesa', 'Francesa', 'Americana', 'Sudamericana',
       'China', '€€€€', 'Brasileña', 'Café', 'Peruana', 'Mexicana',
       'Europea', 'Africana', 'Irlandesa', 'Argentina', 'Internacional',
       'Restaurante de carne', 'Asiática', 'Tienda gourmet', 'Asador',
       'Fusión japonesa', 'Pub con cerveza artesanal', 'Filipina',
       'India', 'Latina', 'Marisco', 'Contemporánea', 'Bares para comer',
       'Saludable', 'Pizza', 'Comida rápida', 'Hawaiana', 'Griega',
       'Marroquí', 'Casa de un chef local', 'Libanesa', 'Turca', 'Sushi',
       'Venezolana', 'Vinoteca', 'Pub', 'Fusión', 'Tailandesa', 'Postres',
       'Barbacoa', 'De Oriente Medio', 'Comedor', 'Australiana',
       'Caribeña', 'Street food / Comida en la calle', 'Suiza',
       'Tentempiés', 'Alemana', 'Chilena', 'Belga'], dtype=object)

In [10]:
with open("Sources\lista_rangoprecio_actualizado", "rb") as archivo:
    lista_rangoprecio_actualizado=pickle.load(archivo)

In [11]:
df_["Rango_precio"]=lista_rangoprecio_actualizado

In [27]:
df_["Rango_precio"].unique()

array(['€', '€€ - €€€', '€€€€'], dtype=object)

### Nombre y Score

In [12]:
#Eliminamos los que no tiene nombre ni score general, no valen para el recomendador
df_=df_.dropna(subset=["Nombre", "Score"])

In [13]:
df_.reset_index(inplace= True, drop=True)

In [14]:

df_=df_.drop("Unnamed: 0", axis=1)

In [15]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9412 entries, 0 to 9411
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nombre           9412 non-null   object
 1   Score            9412 non-null   object
 2   Excelente        9412 non-null   float64
 3   MuyBueno         9412 non-null   float64
 4   Normal           9412 non-null   float64
 5   Malo             9412 non-null   float64
 6   Pesimo           9412 non-null   float64
 7   Num_Reviews      9412 non-null   float64
 8   Posicion         9397 non-null   float64
 9   Rango_precio     9412 non-null   object
 10  Tipo_Cocina      9412 non-null   object
 11  Awards           9412 non-null   object
 12  Score_Comida     5590 non-null   float64
 13  Score_Servicio   5570 non-null   float64
 14  Calidad_Precio   5516 non-null   float64
 15  Ambiente         1838 non-null   float64
 16  Direccion        9412 non-null   object
 17  Web_TripAdvisor  9412 non-null   object
 18  Latina           9412 non-null   int64
 19  Eur Este         9412 non-null   int64
 20  Africana         9412 non-null   int64
 21  China            9412 non-null   int64
 22  Japonesa         9412 non-null   int64
 23  Arabe            9412 non-null   int64
 24  Mexicana         9412 non-null   int64
 25  Caribeña         9412 non-null   int64
 26  Asiatica         9412 non-null   int64
 27  America Norte    9412 non-null   int64
 28  America Sur      9412 non-null   int64
 29  Italiana         9412 non-null   int64
 30  Española         9412 non-null   int64
 31  Eur Occidental   9412 non-null   int64
 32  Asador           9412 non-null   int64
 33  N/A              9412 non-null   int64
 34  India            9412 non-null   int64
dtypes: float64(11), int64(17), object(7)
memory usage: 2.5+ MB

### Score

In [16]:
df_["Score"].unique()

array(['3,5', '4,5', '4,0', '5,0', '2,0', '3,0', '2,5', '1,5', '1,0',
       '0,0'], dtype=object)

In [17]:
#Convertir la columna Score a númerico

df_["Score"]=[x.replace(",", ".") for x in df_["Score"]] # se sustituye la coma  por punto

df_["Score"]= pd.to_numeric(df_["Score"])

### Columnas de Puntuaciones

In [18]:
#Convertimos las siguientes columnas a enteros, para que visualmente se puedan ver mejor

lista=["Excelente","MuyBueno", "Normal", "Malo", "Pesimo", "Num_Reviews"]

for i in lista:
    df_[f"{i}"]=df_[f"{i}"].astype(int)

In [19]:
#Se agraga  la columna(Num_Reviwes_Spain) que sume las puntuaciones, ya que la columna Num_Reviews 
# representa el total de reviews para  todos lo idiomas
df_["Num_Reviews_Spain"]=df_["Excelente"]+df_["MuyBueno"]+df_["Normal"]+df_["Malo"]+df_["Pesimo"]

In [20]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9412 entries, 0 to 9411
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nombre             9412 non-null   object
 1   Score              9412 non-null   float64
 2   Excelente          9412 non-null   int32
 3   MuyBueno           9412 non-null   int32
 4   Normal             9412 non-null   int32
 5   Malo               9412 non-null   int32
 6   Pesimo             9412 non-null   int32
 7   Num_Reviews        9412 non-null   int32
 8   Posicion           9397 non-null   float64
 9   Rango_precio       9412 non-null   object
 10  Tipo_Cocina        9412 non-null   object
 11  Awards             9412 non-null   object
 12  Score_Comida       5590 non-null   float64
 13  Score_Servicio     5570 non-null   float64
 14  Calidad_Precio     5516 non-null   float64
 15  Ambiente           1838 non-null   float64
 16  Direccion          9412 non-null   object
 17  Web_TripAdvisor    9412 non-null   object
 18  Latina             9412 non-null   int64
 19  Eur Este           9412 non-null   int64
 20  Africana           9412 non-null   int64
 21  China              9412 non-null   int64
 22  Japonesa           9412 non-null   int64
 23  Arabe              9412 non-null   int64
 24  Mexicana           9412 non-null   int64
 25  Caribeña           9412 non-null   int64
 26  Asiatica           9412 non-null   int64
 27  America Norte      9412 non-null   int64
 28  America Sur        9412 non-null   int64
 29  Italiana           9412 non-null   int64
 30  Española           9412 non-null   int64
 31  Eur Occidental     9412 non-null   int64
 32  Asador             9412 non-null   int64
 33  N/A                9412 non-null   int64
 34  India              9412 non-null   int64
 35  Num_Reviews_Spain  9412 non-null   int32
dtypes: float64(6), int32(7), int64(17), object(6)
memory usage: 2.3+ MB

### Awards

In [21]:
#Vamos a transformar la columna en 0 y 1, 1 si tiene categortia "Travellers´ Choice"
df_["Awards"].unique()

array(['-', "Travellers' Choice"], dtype=object)

In [22]:
#se sustituyen los valores por 0 y 1
df_["Awards"]=df_["Awards"].apply(lambda x :1 if x =="Travellers' Choice"else 0)

In [23]:
df_["Awards"].unique()

array([0, 1], dtype=int64)

### Direccion

In [28]:
with open("Sources\latitud_9412.pickle", 'rb') as archivo:
    latitud_list = pickle.load(archivo)

In [29]:
df_["Latitud"]=latitud_list

In [31]:
with open("Sources\longitud_9412.pickle", 'rb') as archivo:
    longitud_list = pickle.load(archivo)

In [32]:
df_["Longitud"]= longitud_list

In [33]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9412 entries, 0 to 9411
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nombre             9412 non-null   object
 1   Score              9412 non-null   float64
 2   Excelente          9412 non-null   int32
 3   MuyBueno           9412 non-null   int32
 4   Normal             9412 non-null   int32
 5   Malo               9412 non-null   int32
 6   Pesimo             9412 non-null   int32
 7   Num_Reviews        9412 non-null   int32
 8   Posicion           9397 non-null   float64
 9   Rango_precio       9412 non-null   object
 10  Tipo_Cocina        9412 non-null   object
 11  Awards             9412 non-null   int64
 12  Score_Comida       5590 non-null   float64
 13  Score_Servicio     5570 non-null   float64
 14  Calidad_Precio     5516 non-null   float64
 15  Ambiente           1838 non-null   float64
 16  Direccion          9412 non-null   object
 17  Web_TripAdvisor    9412 non-null   object
 18  Latina             9412 non-null   int64
 19  Eur Este           9412 non-null   int64
 20  Africana           9412 non-null   int64
 21  China              9412 non-null   int64
 22  Japonesa           9412 non-null   int64
 23  Arabe              9412 non-null   int64
 24  Mexicana           9412 non-null   int64
 25  Caribeña           9412 non-null   int64
 26  Asiatica           9412 non-null   int64
 27  America Norte      9412 non-null   int64
 28  America Sur        9412 non-null   int64
 29  Italiana           9412 non-null   int64
 30  Española           9412 non-null   int64
 31  Eur Occidental     9412 non-null   int64
 32  Asador             9412 non-null   int64
 33  N/A                9412 non-null   int64
 34  India              9412 non-null   int64
 35  Num_Reviews_Spain  9412 non-null   int32
 36  Latitud            6354 non-null   float64
 37  Longitud           6354 non-null   float64
dtypes: float64(8), int32(7), int64(18), object(5)
memory usage: 2.5+ MB

In [34]:
df_.to_csv("Sources\df_Clean_TripAdvisor.csv")